.about__mission {
  background-color: #f3fafa;
  padding: 42px 0 63px;
}

.about__content {
  position: relative;
  background-image: url(../img/solutions-off-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 62px 0 200px;
  color: #fff;
}
.about__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.about__content > div {
  position: relative;
}
.about__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 50px;
}

.about__mission-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 29px;
  color: #3a4963;
}

.about__mission-text span {
  font-weight: 500;
  color: #0094ff;
}

.about__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 48px;
}

.about__text span {
  color: #0094ff;
  font-weight: 700;
}

@media screen and (max-width: 600px) {

  .about__content {
    padding-bottom: 50px;
  }

  .about__mission {
    padding: 30px 0 40px;
  }

  .about__title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .about__mission-text {
    font-size: 18px;
    line-height: 24px;
  }

  .about__text {
    font-size: 20px;
    margin-bottom: 35px;
  }
}
